src/specs/xsds/system.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  Copyright (c) 2026 Johannes Kepler University Linz

  This program and the accompanying materials are made available under the
  terms of the Eclipse Public License 2.0 which is available at
  http://www.eclipse.org/legal/epl-2.0.

  SPDX-License-Identifier: EPL-2.0

  Contributors:
    Alois Zoitl - initial API and implementation and/or initial documentation
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

<xs:include schemaLocation="subappnetwork.xsd"/>

<xs:element name="System">
  <xs:complexType>
    <xs:complexContent>
      <xs:extension base="LibraryElement">
        <xs:sequence>
          <xs:element name="Application" type="Application" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="Device"      type="Device"      maxOccurs="unbounded"/>
          <xs:element name="Mapping"     type="Mapping"     minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="Segment"     type="Segment"     minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="Link"        type="Link"        minOccurs="0" maxOccurs="unbounded"/>
          <xs:group ref="AttributeGroup"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:element>

<xs:complexType name="Application">
  <xs:sequence>
    <xs:element name="SubAppNetwork" type="SubAppNetwork"/>
  </xs:sequence>
  <xs:attributeGroup ref="NameCommentAttributes"/>
</xs:complexType>

<xs:complexType name="Mapping">
  <xs:attribute name="From" type="xs:string" use="required"/>
  <xs:attribute name="To"   type="xs:string" use="required"/>
</xs:complexType>

<xs:complexType name="Device">
  <xs:sequence>
    <xs:element name="Parameter"       type="Parameter"       minOccurs="0" maxOccurs="unbounded"/>
    <xs:element name="Resource"        type="Resource"        minOccurs="0" maxOccurs="unbounded"/>
    <xs:element name="DataConnections" type="DataConnections" minOccurs="0" maxOccurs="1"/>
    <xs:group   ref="AttributeGroup"/>
  </xs:sequence>
  <xs:attributeGroup ref="NameTypeCommentAttributes"/>
  <xs:attributeGroup ref="PositionAttributes"/>
</xs:complexType>

<xs:complexType name="Segment">
  <xs:sequence>
    <xs:group ref="ParameterAttributeGroup"/>
  </xs:sequence>
  <xs:attributeGroup ref="NameTypeCommentAttributes"/>
  <xs:attributeGroup ref="PositionAttributes"/>
  <xs:attribute name="dx1" type="Coordinate" use="optional"/>
</xs:complexType>

<xs:complexType name="Link">
  <xs:sequence>
    <xs:group ref="ParameterAttributeGroup"/>
  </xs:sequence>
  <xs:attribute name="SegmentName"  type="xs:string" use="required"/>
  <xs:attribute name="CommResource" type="xs:string" use="required"/>
  <xs:attribute name="Comment"      type="xs:string" use="optional"/>
</xs:complexType>

<xs:complexType name="Resource">
  <xs:sequence>
    <xs:element name="Parameter" type="Parameter" minOccurs="0" maxOccurs="unbounded"/>
    <xs:element name="FBNetwork" type="SubAppNetwork" minOccurs="0" maxOccurs="1"/>
  </xs:sequence>
  <xs:attributeGroup ref="NameTypeCommentAttributes"/>
  <xs:attributeGroup ref="PositionAttributes"/>
</xs:complexType>

</xs:schema>